.DS_Store
*.h5ad
*.vzg2
*.parquet
*.hdf5
*.html
*.zip
*.tar.gz
*.bin
*.tif

Archive/
**/Archive/
202504111150_Sessa-p0-p7_VMSC10702/
202503071102_SESSA-p30-E165_VMSC10702/
data_check/
DEGs/
Vignettes/
Segmentation/R1_combined/vzg_build_temp/
**/analysis_outputs_old/
**/analysis_outputs/
Segmentation/Vpt-segmentation/vzg_build_temp
models/
Segmentation/Vpt-segmentation/cpsam
__pycache__
Segmentation/resegment_ROI_workflow/vzg_build_temp/
Segmentation/Vpt-segmentation/image_patches/old/
*.npy
**/*temp/
# Large image files
data_p30-E165/image_patches/models/
data_p30-E165/image_patches/*_seg.npy
data_p30-E165/image_patches/R1_patch_*.png
data_p0-p7/image_patches/
**/models/
**/*_seg.npy
**/*.model
**/*.h5
**/*.pkl
**/*.pickle
Segmentation/resegment_ROI_workflow/p30-E165_R1_default_1_ZLevel_cpsam_v2_compatible_roi_analysis
Segmentation/resegment_ROI_workflow/p30-E165_R1_default_1_ZLevel_cpsam_roi_analysis
Segmentation/resegment_ROI_workflow/cpsam

/.quarto/
quadro_test_files/
**/vzg_build_temp_v2/
**/vzg_build_temp/
