.DS_Store
*.h5ad
*.vzg2
*.parquet
*.csv
*.hdf5
*.html
*.zip
*.tar.gz
*.bin
*.tif

Archive/
**/Archive/
202504111150_Sessa-p0-p7_VMSC10702/
202503071102_SESSA-p30-E165_VMSC10702/
data_check/
DEGs/
Vignettes/
Segmentation/R1_combined/vzg_build_temp/
**/analysis_outputs_old/
**/analysis_outputs/
Segmentation/Vpt-segmentation/vzg_build_temp
models/
Segmentation/Vpt-segmentation/cpsam
__pycache__
